// 需要调用refreshTable
// 需要外部实现showAddModal, showModifyModal等
script.

    var activePage;

    // 刷新表格
    function refreshTable(URL, pageNum) {
        $.post(URL, {'pageNum': pageNum}, function (data) {
            activePage = pageNum;
            paintTable(data['Title'], data['Head'], data['Content']);
            paintPage(data['pageTotal']);
            initTable(URL, data['Title'], data['Content'], data['Head']);
            initPage(URL);    // 给刚绘制的分页添加属性
        });
    }

    // 给定表头, 表格内容, 绘制表格
    function paintTable(tableTitle, tableHead, tableContent) {
        // 表格标题
        var tableTitleHTML = '';
        for (var i = 0; i < tableTitle.length; i++) {
            tableTitleHTML += '<th style="text-align:center">' + tableTitle[i] + '</th>';
        }
        var tableContentHTML = '';
        for (var i = 0; i < tableContent.length; i++) {
            tableContentHTML += '<tr>';
            for (var j = 0; j < tableHead.length - 1; j++) {
                if (j === 0) {
                    tableContentHTML += '<th style="text-align:center">'
                        + '<a id="showContent_'+i+'" class = "showContent" style="cursor:pointer">'
                        + tableContent[i][tableHead[j]] + '</a>'
                        + '</th>';
                } else {
                    tableContentHTML += '<th style="text-align:center">' + tableContent[i][tableHead[j]] + '</th>';
                }
            }
            tableContentHTML += '</tr>';
        }
        $('#pagedTableContainer').empty().append('<table class="table">' + tableTitleHTML + tableContentHTML + '</table>');
    }

    // 给定总页面, 当前页面, 绘制分页
    function paintPage(pageTotalNum) {
        var pageHTML = '<ul class="pagination">';
        if (activePage === 1) pageHTML += '<li class="disabled"><a id="page_prev">&laquo;</a></li>';
        else pageHTML += '<li><a id="page_prev" style="cursor:pointer">&laquo;</a></li>';
        for (var i = 1; i <= pageTotalNum; i++) {
            if (i === activePage) pageHTML += '<li class="active"><a id="page_'+i+'" class="page" style="cursor:pointer">' + i + '</a></li>';
            else pageHTML += '<li><a id="page_'+i+'" class="page" style="cursor:pointer">' + i + '</a></li>';
        }
        if (activePage === pageTotalNum) pageHTML += '<li class="disabled"><a id="page_next">&raquo;</a></li>';
        else pageHTML += '<li><a id="page_next" style="cursor:pointer">&raquo;</a></li>';
        pageHTML += '</ul>';
        $('#pageContainer').empty().append(pageHTML);
    }

    // 给表格按钮(添加/删除/修改)赋予属性
    function initTable(URL, tableTitle, tableContent, tableHead) {
        $('.showContent').click(function () {
            var str = $(this).attr('id');
            var idx = parseInt(str.substring(str.indexOf('_') + 1, str.length));
            showContentModal(tableContent[idx]['title'], tableContent[idx]['content']);
        });
    }

    function showContentModal(title, content) {
        showModal('#placeForModal', title, content);
    }

    function showModal(modalID, title, content) {
        var modalHTML =
        '<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"'
        + '     aria-hidden="true">'
        + '   <div class="modal-dialog">'
        + '       <div class="modal-content">'
        + '           <div class="modal-header">'
        + '                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>'
        + '                <h4 class="modal-title" id="myModalLabel"> ' + title + '</h4>'
        + '            </div>'
        + '            <div class="modal-body">' + content + '</div>'
        + '           <div class="modal-footer">'
        + '               <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>'
        + '           </div>'
        + '       </div>'
        + '       <!-- /.modal-content -->'
        + '   </div>'
        + '   <!-- /.modal -->'
        + ' </div>';
        $(modalID).empty().append(modalHTML);
        $('#myModal').modal('show');
        $('#myModal').click(function () {

        })
    }


    // 给分页赋予属性
    function initPage(URL) {
        $('.page').click(function () {
            var str = $(this).attr('id');
            var pageNum = parseInt(str.substring(str.indexOf('_') + 1, str.length));
            refreshTable(URL, pageNum);
        });
        $('#page_prev').click(function () {
            if ($(this).parent().attr('class') !== 'disabled') {
                refreshTable(URL, activePage-1);
            }
        });
        $('#page_next').click(function () {
            if ($(this).parent().attr('class') !== 'disabled') {
                refreshTable(URL, activePage+1);
            }
        });
    }
.row#pagedTableContainer
.row#pageContainer(align='center')
#placeForModal