// 需要传入filterNameData, filterOpData
// 需要调用initSelector(filterName, filterOp, searchURL)
// 需要实现afterSearchCond(condQuery)
script.
    var filterNum = 1;
    var MAXFILTERNUM = 1;
    var filterNameDefault;
    var filterOpDefault;
    function initSelector(filterName, filterOp, searchURL) {
        $('#searchBTN').click(function () {
            afterSearchCond($('#filterContent').val());
        });
    }

.row
    .col-md-9.col-md-push-1
        +filter()
// 筛选部分
//- mixin filter, filterNameItem, filterOpItem
mixin filter()
    .filter(id='filter')
        // 筛选条件和筛选运算符
        .row
            .col-md-12
                .input-group
                    input.form-control.col-md-9(id='filterContent', type='text')
                    span.input-group-btn
                        button.filterDelete.btn.btn-default(id='searchBTN', type='button') 搜索
