// 需要传入filterNameData, filterOpData
// 需要调用initSelector(filterName, filterOp, searchURL)
// 需要实现afterSearchCond(condQuery)
script.
    var filterNum = 1;
    var MAXFILTERNUM = 8;
    var filterNameDefault;
    var filterOpDefault;
    function initSelector(filterName, filterOp, searchURL) {
        // 初始化
        filterNameDefault = filterName[0][0];
        filterOpDefault = filterOp[0][0];
        for (var i = 1; i < MAXFILTERNUM; i++) {
            $('#filter' + i).hide();
        }

        // 筛选名称
        $('.filterName').click(function () {
            var str = $(this).attr('id');
            var num = parseInt(str.charAt(str.length - 1));
            $('#filterName' + num).html($(this).text() + '<span class="caret">');
            $('#filterName' + num).attr('index', parseInt(str[0]));
        });

        // 筛选运算符
        $('.filterOp').click(function () {
            var str = $(this).attr('id');
            var num = parseInt(str.charAt(str.length - 1));
            $('#filterOp' + num).html($(this).text() + '<span class="caret">');
            $('#filterOp' + num).attr('index', parseInt(str[0]));
        });

        // 删除筛选
        $('.filterDelete').click(function () {
            var str = $(this).attr('id');
            var num = parseInt(str.charAt(str.length - 1));
            if (filterNum == 1) {
                return;
            }
            for (var i = num; i < filterNum - 1; i++) {
                var ii = i + 1;
                $('#filterName' + i).html($('#filterName' + ii).html());
                $('#filterName' + i).attr('index', $('#filterName' + ii).attr('index'));
                $('#filterOp' + i).html($('#filterOp' + ii).html());
                $('#filterOp' + i).attr('index', $('#filterOp' + ii).attr('index'));
                $('#filterContent' + i).val($('#filterContent' + ii).val());
            }
            $('#filterName' + (filterNum - 1)).html(filterNameDefault + '<span class="caret">');
            $('#filterName' + (filterNum - 1)).attr('index', 0);
            $('#filterOp' + (filterNum - 1)).html(filterOpDefault + '<span class="caret">');
            $('#filterOp' + (filterNum - 1)).attr('index', 0);
            $('#filterContent' + (filterNum - 1)).val('');
            $('#filter' + (filterNum - 1)).hide();
            filterNum--;
        });

        // 添加筛选
        $('.filterAdd').click(function () {
            var str = $(this).attr('id');
            var num = parseInt(str.charAt(str.length - 1));
            if (filterNum == MAXFILTERNUM) {
                return;
            }
            for (var i = filterNum - 1; i > num; i--) {
                var ii = i + 1;
                $('#filterName' + ii).html($('#filterName' + i).html());
                $('#filterName' + ii).attr('index', $('#filterName' + i).attr('index'));
                $('#filterOp' + ii).html($('#filterOp' + i).html());
                $('#filterOp' + ii).attr('index', $('#filterOp' + i).attr('index'));
                $('#filterContent' + ii).val($('#filterContent' + i).val());
            }
            $('#filterName' + (num + 1)).html(filterNameDefault + '<span class="caret">');
            $('#filterName' + (num + 1)).attr('index', 0);
            $('#filterOp' + (num + 1)).html(filterOpDefault + '<span class="caret">');
            $('#filterOp' + (num + 1)).attr('index', 0);
            $('#filterContent' + (num + 1)).val('');
            $('#filter' + (filterNum)).show();
            filterNum++;
        });

        $('#searchBTN').click(function () {
            var condList = [];
            for (var i=0; i<filterNum; i++) {
                var cond = {};
                cond['type'] = filterName[$('#filterName'+i).attr('index')][1];
                cond['op'] = filterOp[$('#filterOp'+i).attr('index')][1];
                cond['value'] = $('#filterContent'+i).val();
                if (i === 0) cond['connection'] = 'and';
                else cond['connection'] = $('input[name="FilterConnectRadio'+i+'"]:checked').val();
                condList.push(cond);
            }
            // console.log(condList);
            var condQuery = {};
            condQuery['$or'] = [];
            var andQuery = {};
            andQuery['$and'] = [];
            for (var i=0; i<filterNum; i++) {
                var cond = {};
                var temp = {};
                temp[condList[i]['op']] = condList[i]['value'];
                cond[condList[i]['type']] = temp;
                if (condList[i]['connection'] === 'and') {
                    andQuery['$and'].push(cond);
                } else {
                    condQuery['$or'].push(andQuery);
                    andQuery['$and'] = [];
                    andQuery['$and'].push(cond);
                }
            }
            condQuery['$or'].push(andQuery);
            // console.log(condQuery);
            afterSearchCond(condQuery);
        });
    }

.row
    .col-md-9.col-md-push-1
        +filter(0)
        +filter(1)
        +filter(2)
        +filter(3)
        +filter(4)
        +filter(5)
        +filter(6)
        +filter(7)
    .col-md-1.col-md-push-1
        button.btn.btn-primary#searchBTN(type="button") 搜索

// 筛选部分
//- mixin filter, filterNameItem, filterOpItem
mixin filter(i)
    .filter(id='filter'+i)
        // 与和或
        if i!=0
            .row
                .col-md-1
                    .radio
                        label
                            input(id='radioAND'+i type='radio', name='FilterConnectRadio'+i, value='and', checked)
                        | 与
                .col-md-1
                    .radio
                        label
                            input(id='radioOR'+i type='radio', name='FilterConnectRadio'+i, value='or')
                        | 或
        // 筛选条件和筛选运算符
        .row
            .col-md-12
                .input-group
                    .input-group-btn
                        button.btn.dropdown-toggle(id='filterName' + i, index='0', type='button', data-toggle='dropdown')= filterNameData[0][0]
                            span.caret
                        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                            mixin filterNameItem(ID, itemText)
                                li(role='presentation')
                                    a.filterName(id=ID role='menuitem', tabindex='-1', style='cursor:pointer')= itemText
                            each filterNameText, filterNameIndex in filterNameData
                                +filterNameItem(filterNameIndex.toString() + '_' + i, filterNameText[0])
                    .input-group-btn
                        button.btn.dropdown-toggle(id='filterOp' + i, index='0', type='button', data-toggle='dropdown')= filterOpData[0][0]
                            span.caret
                        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                            mixin filterOpItem(ID, itemText)
                                li(role='presentation')
                                    a.filterOp(id=ID role='menuitem', tabindex='-1', style='cursor:pointer')= itemText
                            each filterOpText, filterOpIndex in filterOpData
                                +filterOpItem(filterOpIndex.toString() + '_' + i, filterOpText[0])
                    input.form-control.col-md-8(id='filterContent'+i, type='text')
                    span.input-group-btn
                        button.filterDelete.btn.btn-default(id='filterDelete'+i, type='button') 删除
                        button.filterAdd.btn.btn-default(id='filterAdd'+i, type='button') 添加
