//
   Created by iqich on 2017/5/30.
extends ../layout

block content
    .container(style="padding-top:80px;")
        .row
            .panel.panel-primary
                .panel-heading
                    h3.panel-title 个人信息修改
                .panel-body
                    form.form-horizontal
                        .form-group
                            label(for="studentID",class="col-md-3 control-label") 学号：
                            .col-md-6
                                studentID #{studentID}
                        .form-group
                            label(for="studentname",class="col-md-3 control-label") 姓名：
                            .col-md-6
                                studentName #{studentName}
                        .form-group
                            label(for="address",class="col-md-3 control-label") 住址：
                            .col-md-6
                                input(type="text",class="form-control input-sm",placeholder="请输入新住址")
                        .form-group
                            label(for="email",class="col-md-3 control-label") 邮箱：
                            .col-md-6
                                input(type="text",class="form-control input-sm",placeholder="请输入新邮箱")
                        .form-group
                            label(for="cellphone",class="col-md-3 control-label") 电话：
                            .col-md-6
                                input(type="text",class="form-control input-sm",placeholder="请输入新电话")
                        .form-group
                            .col-sm-2
                            .col-sm-1
                                button(type="submit" , class="btn btn-primary btn-sm btn-block" ) 修改密码