extends ../layout

block content
	.container
		.row
			table	
				tbody
					tr
						td Name
						td
							input(type="text",placeholder="yourName",id="uname")
					tr
						td Passwd
						td 
							input(type="password",id="passwd")
					tr
						button.btn(type="button") 登录
