extends ../layout_main

block content

    script.
        function init(filterNameDefault, filterOpDefault, courseItemList) {
            // 初始化
            courseItemList = JSON.parse(courseItemList);
            initSelector(filterNameDefault, filterOpDefault);
            refreshCourse('select/courseData', 1);
        }


    - var filterNameDefault = filterNameData[0]
    - var filterOpDefault = filterOpData[0];
    - var courseList = JSON.stringify(courseItemList);
    body(onload="init('#{filterNameDefault}','#{filterOpDefault}','#{courseList}')")

    // 筛选部分
    .row(style="margin-top:10px; margin-bottom:10px")
        .col-md-10.col-md-push-1
            include ../includes/selector

    // 列表部分
    .row
        .col-md-12
            .panel.panel-primary
                include ../includes/pageCourse
                .panel-heading
                    .row(style='margin-left:10px; margin-right:10px;')
                        .col-md-12#coursePanelHeading
                .panel-body#coursePanelBody
    .row#pageContainer(align='center')