extends ../layout_main

block content

    script.
        function init(filterNameDefault, filterOpDefault) {
            initSelector(filterNameDefault, filterOpDefault);
            refreshCourse('select/courseData', 1, '选课');
        }

        function initCourseButton(courseItemList) {
            alert('123');
        }


    - var filterNameDefault = filterNameData[0]
    - var filterOpDefault = filterOpData[0];
    body(onload="init('#{filterNameDefault}','#{filterOpDefault}')")

    // 筛选部分
    .row(style="margin-top:10px; margin-bottom:10px")
        .col-md-10.col-md-push-1
            include ../includes/selector

    // 列表部分
    .row
        include ../includes/pageCourse