extends ../layout39

block leftAddition

block rightContent
    script.
        function init(filterNameDefault, filterOpDefault) {
            $(document).ready(function () {
                initSelector(filterNameDefault, filterOpDefault);
                refreshTable('studentManager/tableData',1)
            })
        }
        function showAddModal() {
            var modalData = {
                'Title': '学生信息添加表',
                'ContentItem': ['学生学号', '学生姓名', '学院'],
                'ContentData': ['', '', ''],
                'SuccessMsg': '添加成功',
                'ErrorMsg': '添加失败'
            };
            var modalID = '#placeForModal';
            showModal(modalID, modalData, 'studentManager/tableData');
        }
        function showModifyModal(modifyData) {
            var modalData = {
                'Title': '学生信息修改表',
                'ContentItem': modifyData['ModifyItem'],
                'ContentData': modifyData['ModifyData'],
                'SuccessMsg': '修改成功',
                'ErrorMsg': '修改失败'
            }
            var modalID = '#placeForModal';
            showModal(modalID, modalData, 'studentManager/tableData');
        }

    - var filterNameDefault = filterNameData[0]
    - var filterOpDefault = filterOpData[0];
    body(onload = "init('#{filterNameDefault}', '#{filterOpDefault}')")

    // 筛选器
    .row(style='margin-top:10px; margin-bottom:10px')
        include ../includes/selector
    // 带分页的列表
    .row(style='margin-top:10px; margin-left:15px; margin-right:15px;')
        include ../includes/pageTable
    #placeForModal
        include ../includes/inputModal