extends ../layout39

block leftAddition

block rightContent
    script.
        function init(filterNameDefault, filterOpDefault) {
            $(document).ready(function () {
                initSelector(filterNameDefault, filterOpDefault);
                refreshTable('teacherManager/tableData',1)
            })
        }
        function showAddModal() {
            var modalData = {
                'Title': '教师信息添加表',
                'ContentItem': ['工号', '姓名', '性别', '学院', '手机号码', '个人简介'],
                'ContentData': ['', '', '', '', '', ''],
                'ContentDisabled': ['', '', '', '', '', ''],
                'SuccessMsg': '添加成功',
                'ErrorMsg': '添加失败'
            };
            var modalID = '#placeForModal';
            showModal(modalID, modalData, 'teacherManager/addData');
        }
        function showModifyModal(tableContent) {
            var str = $(this).attr('id');
            var itemNum = parseInt(str.substring(str.indexOf('_') + 1, str.length));
            var jsonn = {'工号': tableContent[itemNum]['工号']};
            $.post('/teacherManager/getData', jsonn, function (data) {
                var modalData = {
                    'Title': '教师信息修改表',
                    'ContentItem': ['工号', '姓名', '性别', '学院', '手机号码', '个人简介'],
                    'ContentData': [data['工号'], data['姓名'], data['性别'], data['学院'], data['手机号码'], data['个人简介']],
                    'ContentDisabled': ['readonly','','','','',''],
                    'SuccessMsg': '修改成功',
                    'ErrorMsg': '修改失败'
                }
                var modalID = '#placeForModal';
                showModal(modalID, modalData, 'teacherManager/modifyData');
            });
        }
        function afterModalSubmitSuccess() {
            refreshTable('teacherManager/tableData', 1);
        }
        function doDelete(tableContent) {
            var str = $(this).attr('id');
            var itemNum = parseInt(str.substring(str.indexOf('_') + 1, str.length));
            var jsonn = {'工号': tableContent[itemNum]['工号']};
            $.post('/teacherManager/getData', jsonn, function (data) {
                refreshTable('teacherManager/tableData', 1);
            });
        }

    - var filterNameDefault = filterNameData[0]
    - var filterOpDefault = filterOpData[0];
    body(onload = "init('#{filterNameDefault}', '#{filterOpDefault}')")

    // 筛选器
    .row(style='margin-top:10px; margin-bottom:10px')
        include ../includes/selector
    // 带分页的列表
    .row(style='margin-top:10px; margin-left:15px; margin-right:15px;')
        include ../includes/pageTable
    #placeForModal
        include ../includes/inputModal